body{
    font-family: raleway;
    color: rosybrown;
    background-color: #1e214d;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.block h1{
    text-align: center;
    margin: 0;
    font-size: 160px;
    line-height: 600px;
}

.block p{
    text-align: justify;
    margin-bottom: 20px;
    font-size: 20px;
}

.block.parallax{
    height: 800px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.parallax.image{
    background-image: url("images/stars.jpg")
}

/*footer a:hover{
    color: rosybrown;
    text-decoration: none;
}*/